NodeRed flow.json
[{"id":"633e9ddd.bcaa94","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a55c88a7.74d668","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":90,"sy":90,"gx":6,"gy":300,"cx":40,"cy":40,"px":10,"py":10}}},{"id":"4c07ae57.4fb35","type":"ui_tab","z":"","name":"HomeChatbot","icon":"","disabled":false,"hidden":false},{"id":"e3515f62.d134e","type":"ui_group","z":"","name":"Chatbot","tab":"4c07ae57.4fb35","order":1,"disp":true,"width":4,"collapse":false},{"id":"94013722.7dd828","type":"ui_tab","z":"","name":"test","icon":"dashboard","disabled":false,"hidden":false},{"id":"87f4327b.d13f8","type":"ui_group","z":"","name":"Default","tab":"94013722.7dd828","order":1,"disp":true,"width":"6","collapse":false},{"id":"5460cd09.113f64","type":"ui_group","z":"","name":"Response","tab":"4c07ae57.4fb35","order":2,"disp":true,"width":"6","collapse":false},{"id":"736ad835.f9bf08","type":"ui_form","z":"633e9ddd.bcaa94","name":"","label":"","group":"e3515f62.d134e","order":1,"width":0,"height":0,"options":[{"label":"Enter your queries","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":99,"y":260,"wires":[["d03b3e5f.8a1f"]]},{"id":"d03b3e5f.8a1f","type":"function","z":"633e9ddd.bcaa94","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["1f5db0e0.9016af","d63b703.cee389"]]},{"id":"ce3f19c0.5f0d78","type":"function","z":"633e9ddd.bcaa94","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":220,"wires":[["2b344348.3cc2fc"]]},{"id":"1f5db0e0.9016af","type":"watson-conversation-v1","z":"633e9ddd.bcaa94","name":"CCChatbot","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":530,"y":180,"wires":[["9dbc11c6.54636","ce3f19c0.5f0d78"]]},{"id":"9dbc11c6.54636","type":"debug","z":"633e9ddd.bcaa94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":100,"wires":[]},{"id":"2b344348.3cc2fc","type":"ui_text","z":"633e9ddd.bcaa94","group":"5460cd09.113f64","order":2,"width":0,"height":0,"name":"","label":"Bot:","format":"{{msg.payload}}","layout":"col-center","x":900,"y":300,"wires":[]},{"id":"d63b703.cee389","type":"ui_text","z":"633e9ddd.bcaa94","group":"5460cd09.113f64","order":1,"width":0,"height":0,"name":"","label":"You:","format":"{{msg.payload}}","layout":"col-center","x":450,"y":280,"wires":[]},{"id":"7a42b91d.d23a18","type":"ui_template","z":"633e9ddd.bcaa94","group":"e3515f62.d134e","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n<title>Page Title</title>\n\n<style>\nbody {\n\tbackground-image: url(\"https://hellofuture.orange.com/app/uploads/2018/01/Intro-HELLO-FUTURE-1920x1080_v2.gif\");\n    background-repeat: no-repeat;\n    background-attachment: fixed;\n    background-size: 100% 100%;\n</style>\n</head>\n<body>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":400,"wires":[[]]}]